<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head('Log in', '')" />
    <body>
        <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" />
        <div class="container">
            <form class="form-signin" method="post" th:action="@{/login}">
                <h2 class="form-signin-heading">Please sign in</h2>
                <div th:if="${loggedout}" class="alert alert-success" role="alert">
                    Successfully logged out!
                </div>
                <div th:if="${errored}" class="alert alert-danger" role="alert">
                    Username or password was invalid!
                </div>
                <p>
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="" autocomplete="off" />
                </p>
                <p>
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="" autocomplete="off" />
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <a th:href="@{/register}" class="btn btn-lg btn-secondary btn-block" role="button" type="submit">Go to registering</a>
            </form>
        </div>
        <footer th:replace="fragments :: footer" />
    </body>
</html>